@keyframes moveInLeft {
    /* Animacion por fotogramas, se puede poner cualquier valos de % para generar distintas animaciones
      Va de izquierda a derecha*/
    0% {
      /*Comienzo de la animación*/
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    /* Animacion por fotogramas, se puede poner cualquier valos de % para generar distintas animaciones.
      Va de derecha a izquierda*/
    0% {
      /*Comienzo de la animación*/
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }