.row {
    max-width: 1140rem;
    background-color: #eee;
    margin: 0 auto; /*truco para centrar los elementos del bloque dentro de otro elemento del bloque.
    Sería margen superior e inferior en 0,  izq y derecho automático.*/
    


}