@charset "UTF-8";


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark:#777777;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Queremos 16px de fuente, pero si el usuario
    tiene mala visión y quiere modificarlo, poniendo px, no puede,
    entonces se pone % */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
      url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 60px; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* La animación se mueve un poco hacia arriba, por un error desconocido, y este sería el truco para arregrarlo*/
  margin-bottom: 6rem; }

.heading-primary--main {
  /*Titulo principal*/
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /*Interletrado*/
  animation-name: moveInLeft;
  /*Nombre que le pusimos a la animacion en @keyframes*/
  animation-duration: 1s;
  /* Tiempo que va a durar la animación*/
  /*
    animation-delay: 2s; Retrasa el inicio de la animación
    animation-iteration-count: 3; Repite X cantidad de veces la animación
    animation-timing-function: ease-out; La animación arranca rápido y se hace más lenta sobre el final, si hubiese sido ease-in, sería al revés
*/ }

.heading-primary--sub {
  /*Subtitulo*/
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 1s; }

@keyframes moveInLeft {
  /* Animacion por fotogramas, se puede poner cualquier valos de % para generar distintas animaciones
    Va de izquierda a derecha*/
  0% {
    /*Comienzo de la animación*/
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* Animacion por fotogramas, se puede poner cualquier valos de % para generar distintas animaciones.
    Va de derecha a izquierda*/
  0% {
    /*Comienzo de la animación*/
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link,
btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* para que tenga su propio espacio y no se superponga con otra cosa*/
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /*cuando el usuario pasa el cursor por encima*/
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  /*cuando se hace click en el boton*/
  outline: none;
  transform: translateY(-1px);
  /*es en relacion con el estado inicial*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btb--white {
  background-color: #ffffff;
  color: $color-grey-dark;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*define la posicion de los elementos si entran uno encima de otro*/
  transition: all .4s; }

.btn--white::after {
  background-color: #ffffff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 100; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s; }
